.bg-light2 {
    background-image: url("noisy.png");
    background-color: #cccccc;
}

#price {
    background: #4fc296;
    padding: 1rem;
}
.presult {
    font-weight: bold; 
    margin: 0;
}
.presult {
    margin: 0;

}

#net_price {
    color: #4fc296;
}
input[type="radio"]:checked {
    box-shadow: 0 0 0 2px orange;
  }
/* #result {
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
.initiallyHidden { display: none; }
button {
    margin-top: 0.5rem;


}


.cancel_order {
    color: red!important;
}


@keyframes zooming {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .2s linear infinite;
  }

  .Pending:after { 
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    border: 4px solid rgb(255, 41, 77);
    border-top-color: rgb(243, 243, 243);
    animation: spinner .9s linear infinite;
}
.Producing:after {
    content:"\f275";
    box-sizing: border-box;
    position: absolute;
    margin-left: 10px;
    font-family: FontAwesome;
    color: #dba839;
    animation: zooming 1s linear infinite;

}
.Accepted:after {
    content:"\f00c";
    box-sizing: border-box;
    position: absolute;
    font-family: FontAwesome;
    margin-left: 10px;
    color: #4fc296;

}
.jumbotron {
    position: absolute;
    width: 85vw;
    height: 85vh;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 99;
  }
.foreground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px dashed rgb(54, 54, 54);
    z-index: 98;
    opacity: 0.5;
    background: black;
}
.bg-light-2 {
    background: rgb(255, 124, 124);
}

h1 {
    color: rgb(46, 46, 46);
}

ul {
    list-style-type: none;
    padding-left: 0;
  }

.helptext {
    color: rgb(165, 165, 165);
    font-size: .8em;
}