{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/doorscalc.css' %}">
    <link rel="stylesheet" href="{% static 'css/cocotools.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Doorscalc</title>
  </head>
  <body class="bg-light2 p-3">
    <div class="container">
        {% block navigation %}
        {% endblock %}

        {% block modal %}
        {% endblock %}

        {% block orders %}
        {% endblock %}

        {% block calculator %}
        {% endblock %}

        {% block modal_jumbo %}
        {% endblock %}

        {% block result %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script src="{% static 'js/cocotools.js' %}"></script>

    <script>



reveal_board()

$(document).ready(function(){
    showup()
    setTimeout(() => {
        $("body").hide().fadeIn(1000);
    }, 100);
});
clearme();
// Scroll fixed bar...................................

coconavi('.navbar', 50, 'navbar-scroll', '#logo', 'logo-sm');


// Tippy launcher.....................................
  tippy('label', {
  followCursor: "horizontal",
  animateFill: false,
  animation: 'shift-away',
  duration: 200,
  arrow: true,
})


// function: update order div................................................
function updateOrderDiv()   {
    $("#orders").load(window.location.href + " #orders" );
};




    $( "button[name='clear']" ).click(function() {
        clearme();
    });
$( "button[name='begin']" ).click(function() {
        clearme();
        $('html, body').animate({
            scrollTop: $("#formularz").offset().top
        }, 500);
    });
    
$('input:radio[name="code"]').each( function(index) {
    $(this).click(function (e) {
        $('html, body').animate({
            scrollTop: $("#result").offset().top
        }, 500);
        var excluded = $(this).attr('excluded');
        console.log(excluded);
        $('input[type="number"').prop('disabled', false);
        if (excluded != undefined || excluded != null ) {
            $('input[name='+excluded+']').prop('disabled', true);
            console.log('changed')
        } else {
            $('input').prop('disabled', false);
            console.log('all unlocked')
            console.log(excluded)
        }
        excluded = null;
    });
});

$('.nav-link').each( function(index) {
    $(this).click(function (e) {
        var target = $(this).attr('href');
        $('html, body').animate({
            scrollTop: $(target).offset().top
        }, 200);
}); 
});   

// window toggling function..............................


function toggleWindows() {
    $('#foreg').fadeToggle('slow', function() {

    });
    $('#modal').toggle('fast', function() {

    });
 }
function toggleforeg() {
    $('#foreg').fadeToggle('slow', function() {

    });
 }

// Close button.................................................


// Form: Submit calculation & slide............................
    $('#doors_form').on('submit', function(event){
    event.preventDefault();
    $("#result").empty();
    console.log("calculator works!")  // sanity check

    $('html, body').animate({
        scrollTop: $("#foreg").offset().top
    }, 500);

    $('#result').hide().fadeIn(800);
    calculate_form();
    });


//


// function: clear object.................................
function clearobj(obj) {
    for (var key in obj) {
        delete obj[key];
    }
    console.log('SANITY CHECK: data cleaned?');
    console.log(obj);
}
// function: SHOWUP........................................

// function: CLEAR INPUTS..................................
    function clearme() {
        console.log('cleared')
        $('input[type="number"]').val('')
        $( "#result" ).empty();
    }
// function: REVEAL PAGE....................................
    function reveal_board() {
        $('h1,img,input').each(function (index) {
            $(this).hide();
        });
        $("h1,img,input").each(function(index) {
            var that = this;
            var t = setTimeout(function() {
                $(that).hide().show(500);
                }, 70 * index);
        });
    }
// function: CALCULATE.....................................
    function calculate_form() {
    console.log("calculation begins...") // sanity check
    $.ajax({
        url : "{% url 'ajax' %}", // the endpoint
        type : "POST", // http method
        data : $('#doors_form').serialize(), // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json.isvalid);
            console.log(json.nosna);
            console.log(json.maxm2);
            if (json.isvalid) {

                console.log(json); // log the returned json to the console
                console.log("success Django>Ajax" + json.m2); // another sanity check
                $('#modal-body').html('<div class="alert rounded" role="alert"><p class="presult" id="net_price">Door net price: '+json.netprice+'€</p><p class="dresult" id="obx">Required gasket lenght: '+json.obx+'m and is '+json.gasket+' in this option. </p><p class="presult rounded" id="price">Final price including all: '+json.final_price+'€</p></div><div class="alert rounded" role="alert"><button id="close_calc" class="shadow btn btn-danger m-1">Close</button><button id="ord" class="shadow btn btn-danger m-1"><i class="fa fa-paper-plane" aria-hidden="true"></i>Place order</button></div>')
                


            } else {
                alert('Unfortunately, bearing surface of the wing exceeds its permissible space which makes it impossible to build. Its recommended to transform it into two-winged doors (if possible) to provide appropriate support in the form of additional cross-beam which will prevent from frame bending during exploitation.')
            }
        },
    });
    };

// Form: Submit order JSON.....................................
    formData = {}

    $('#d_form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        var arrayform = $("#d_form").serializeArray();
        $(arrayform).each(function(index, obj){
        formData[obj.name] = obj.value;
        });
        

        order();
        updateOrderDiv();
        clearme();
        clearobj(formData);
        updateOrderDiv();
        scrollto('#upper_divi')
        
        
    });

// ORDERING .................................................
    var p;  //copy price and insert to input [pole_price]
    $('body').on("click", "#ord" ,function(event) {
    event.preventDefault();
    console.log("this is price......");
    console.log(p);
    $('#pole_price').val(p)
        if(confirm("Are you sure you want to order it?"))   {
            var arrayform = $("#d_form").serializeArray();
            $(arrayform).each(function(index, obj){
            formData[obj.name] = obj.value;
            });
            console.log('SANITY CHECK: cash:');
            console.log(formData);         
            order();
            updateOrderDiv();
            clearme();
            clearobj(formData);
            scrollto('#upper_divi');
        } else {
            return false;
        }
    });

// function: ORDER......................................
    function order() {
        console.log("Placing order..................")
        console.log(formData);
        $.ajax({
            url: "{% url 'ajax_ord2' %}",
            type: "POST",
            dataType: 'json',

            data : formData,
            
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success : function(payload) {
                updateOrderDiv();
                console.log('.............................')
                console.log('Payload: Begin')
                console.log('.............................')
                console.log('is POST request?: '+payload.if_post);
                console.log('is form object?: '+payload.if_form);
                console.log('is form valid?: '+payload.if_valid);
                
                    

                
            }
        });

    };

// function: delete_order......................................
$('body').on("click", ".cancel_order" ,function() {
        var id = $(this).attr('id');
        console.log('this is id: '+id)
        $.ajax({
            url: "{% url 'delete_order' %}",
            type: "POST",
            dataType: 'json',
            data: { 'id' : id },

            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response){
                alert(response.status)
                updateOrderDiv();

            }
        });
    });

$('body').on("click", "#close_calc" ,function() {
    console.log('clicked')
    
    scrollto("#calc")
});
// function: live refreshing order................................


// function send calculation......................................
//................................................................
function scrollto(target) {
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 500);
}



function send_form_data(form,view){
    console.log('[taking values..]')
    var arrayform = $(form).serializeArray();
        $(arrayform).each(function(index, obj){
            formData[obj.name] = obj.value;
        });
    
    console.log('JSON payload -> Django:');
    console.log(formData);
    $.ajax({
            url: view,
            type: "POST",
            dataType: 'json',
            data : formData,
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success : function(json) {
            console.log(json.isvalid);
            console.log(json.nosna);
            console.log(json.maxm2);
            if (json.isvalid) {
                p = json.final_price
                console.log(json); // log the returned json to the console
                console.log("success Django>Ajax" + json.m2); // another sanity check
                $('#modal-body').html('<div class="alert rounded" role="alert"><p class="presult" id="net_price">Door net price: '+json.netprice+'€</p><p class="dresult" id="obx">Required gasket lenght: '+json.obx+'m and is '+json.gasket+' in this option. </p><p class="presult rounded" id="price">Final price including all: '+json.final_price+'€</p></div><div class="alert rounded" role="alert"></div>')
                


            } else {
                alert('Unfortunately, bearing surface of the wing exceeds its permissible space which makes it impossible to build. Its recommended to transform it into two-winged doors (if possible) to provide appropriate support in the form of additional cross-beam which will prevent from frame bending during exploitation.')
            }
        },
        });
}


$('body').on('click', '#calc', function(){
    console.log('calc clicked')
    send_form_data('#d_form', '{% url "ajax_calc" %}')
    
});


$('.excluded').each(function(){
    var value = $(this).attr('value');
    var ids = $(this).attr('id');
    if (value != null || value != undefined) {
        $(".radioselect[value="+ids+"]").attr('excluded', value);
    }

});
$('input:radio[class="radioselect"]').each( function(index) {
    $(this).click(function (e) {
        var excluded = $(this).attr('excluded');
        console.log(excluded);
        scrollto('#w')
        $('input[type="text"]').prop('disabled', false);
        if (excluded != undefined || excluded != null ) {
            $('input[measure="'+excluded+'"]').prop('disabled', true);
            console.log('changed')
        } else {
            $('input[type="text"]').prop('disabled', false);
            console.log('all unlocked')
            console.log(excluded)
        }
        excluded = null;
    });
});



setInterval(function () {
   updateOrderDiv();
}, 10000);


    </script>
  </body>
</html>