{% extends 'doorscalc/base.html' %}
{% load static %}

{% block navigation %}
  <!-- NAVIGATION: BEGIN --> 
  <div class="row initiallyHidden">
    <div class="col m-1">
      {% if user.is_authenticated %}
      <div id="upper_divi"></div> <!-- space -->
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light2">
        <div class="container pl-1 pr-1">
          <a class="navbar-brand p-2" href="#"><img id="logo" class="logo" width="60px" src="{% static 'calc.png' %}"><span
              class="align-middle ml-2 mr-2 font-weight-bold">DCALC</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse p-4" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">.My orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#calc">.Calculate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">.Admin</a>
              </li>
            </ul>
            <div class="">
              <a href="{% url 'logout' %}"><button class="btn btn-outline-secondary" type="submit">Logout</button></a>
              </form>
            </div>
          </div>
      </nav>
    </div>
  </div>
<!-- NAVIGATION: END --> 

  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock navigation %}
  
{% block modal %}
<!-- MODAL: BEGIN -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Calculation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="ord" type="submit" data-dismiss="modal">Order and
            close</button>
        </div>
      </div>
    </div>
  </div>
<!-- MODAL: END -->
{% endblock modal %}


{% block orders %}
  <!-- ORDERS: BEGIN -->
  <div class="row initiallyHidden">
    <div class="col-12 bg-light-2 p-4 rounded shadow">
      <h1 class="text-uppercase font-weight-bold"><i class="fa fa-shopping-cart" aria-hidden="true"></i> My orders
      </h1>
      <p>Here are Your orders:</p>
      <hr>
      <div class="row p-2 rounded text-light">
        <div class="col-2 col-md-2">
          <span><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
        <div class="col-3 d-none d-md-block text-center">
          <span><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
        </div>
        <div class="col-2 col-md-2 text-center">
          <span><i class="fa fa-bolt" aria-hidden="true"></i></span>
        </div>
        <div class="col-2 col-md-2 text-center">
          <span><i class="fa fa-eur" aria-hidden="true"></i></span>
        </div>
        <div class="col-6 col-md-3">
          <div class="d-flex justify-content-end"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
      <div id="orders">
        <hr>
        {% for u in user_order %}
        <div class="row">
          <div class="col-2 col-md-2">
            <p id="cust" class="{{ u.customer }} ">{{ u.customer }}</p>
          </div>
          <div class="col-3 d-none d-md-block text-center">
            <p id="measure" class=" ">{{ u.door.code }} - {{ u.w }}x{{ u.h }}{% if u.d %}x{{ u.d }} {% else %}
              &nbsp; {% endif %}</p>
          </div>
          <div class="col-2 col-md-2 text-center">
            <p id="stat" class="{{ u.status }} "></p>
          </div>
          <div class="col-2 col-md-2 text-center">
            <p id="p_price">{{ u.price }}€</p>
          </div>
          <div class="col-6 col-md-3">
            <div class="d-flex justify-content-end">
              <p class="">{{ u.data }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr>
    </div>
  </div>
<!-- ORDERS: END -->
{% endblock orders %}
  

{% block calculator %}
  <!-- CALCULATOR: BEGIN -->
  <div class="row initiallyHidden">
    <div class="col-12 bg-light p-4 shadow border border-success rounded">
      <div id='formularz' class='initiallyHidden'>
        <h1 class='text-uppercase font-weight-bold'><i class="fa fa-calculator" aria-hidden="true"></i>
          Doorscalc</h1>
        <p>Pick appriopriate door type:</p>
        <hr>

        <form id="d_form" method="POST">
          {% csrf_token %}
          {{ ord_form.as_p }}
          {% comment %} stany excluded {% endcomment %}
          {% for door in doors_objects %}
          <p class="excluded" id="{{ door.id }}" value="{{ door.excluded }}" style="display:none"></p>
          {% endfor %}
          <input type="submit" id='sub' value="Order" class="btn btn-danger">
          <a name="" id="calc" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"
            role="button">Calculate</a>
        </form>
      </div>
    </div>
  </div>
<!-- CALCULATOR: END -->
{% endblock calculator %}
  
{% block modal_jumbo %}
  <div id="modal" class="jumbotron" style="display:none;"></div>
{% endblock modal_jumbo %}
  
{% block result %}
  <!-- RESULT: BEGIN -->
  <div class="row initiallyHidden">
    <div calss="col-12">
      <div id='result' class='shadow rounded'></div>
    </div>
  </div>
<!-- RESULT: END -->
{% endblock result %}


