{% extends 'doorscalc/base.html' %}
{% block doorscalc_form %}
    <div class="container">
        <div class="row initiallyHidden">
            <div class="col-12 col-lg-6 bg-success p-3">
              <div id='formularz' class='initiallyHidden'>
                <h1><i class="fa fa-cart-plus" aria-hidden="true"></i> Doorscalc</h1><p>Pick appriopriate door type:</p>

               </div> 
            </div>
            <div class="col-12 col-lg-6 bg-danger p-3">
            {% for u in user_order %}
              <h1><i class="fa fa-shopping-cart" aria-hidden="true"></i> My orders</h1>
              <p>Here are Your orders:</p>
                <div class="labels row">
                  <div class="col">
                    <span>Measurement:</span>
                  </div>
                  <div class="col">
                    <span>Status:</span>
                  </div>
                  <div class="col">
                    <span>Cancel:</span>
                  </div>
                </div>
                  <div class="orders row">
                    <div class="col">
                      <p><i class="fa fa-square-o" aria-hidden="true"></i> {{ u.w }}x{{ u.h }}x{{ u.d }}</p>
                    </div>
                    <div class="col">
                      <p class="{{ u.status }}"> {{ u.status }}</p>
                    </div>
                    <div class="col">
                      <button class="cancel_order" id="{{ u.id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                  </div>
              
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock doorscalc_form%}