{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}
  <div class="d-flex justify-content-center mt-5">
    <img id="logo" class="roll-in-blurred-top" src="{% static 'calc.png' %}" width="60px" height="60px"/>
  </div>
  <div class="d-flex justify-content-center m-3">
    <h1 class="focus-in-expand" style="font-weight:bold;">DCALC<h1>
  </div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}

<div class="d-flex justify-content-center m-3">
<div class="alert alert-success" role="alert">
  Hi {{ user.get_short_name }}! You'are logged in. Please proceed to the app:
</div>
</div>
<div class="d-flex justify-content-center mt-3">

  <p><a href="/dcalc">Dcalc</a></p>
  
</div>
</div>
  <div class="d-flex justify-content-center mt-3">
  <a href="{% url 'logout' %}"><button type="submit" class="btn btn-primary">Logout</button></a>
  </div>
{% else %}

{% comment %} <div class="d-flex justify-content-center m-3"><div class="alert alert-danger" role="alert">
  Sorry, You are not logged into the platform. Please procceed to login form.
</div> {% endcomment %}
</div>
{% comment %} <div class="d-flex justify-content-center"><a href="{% url 'login' %}"><button type="submit" class="btn btn-primary">Proceed to login</button></a></div> {% endcomment %}

<div class="d-flex justify-content-center swing-in-top-bck">    
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <label>Username: </label><br>
        <input type="text" name="username" class="form-control shadow-sm" required>
        <label>Password :</label><br>
        <input type="password" name="password" class="form-control shadow-sm" required>
        <button type="submit" class="btn btn-primary btn-block shadow-sm mt-4 p-3"><i class="fa fa-sign-in" aria-hidden="true"></i>
Login</button>
    </form></div>

      
  </div>

{% endif %}
{% endblock %}


{% block footer %}
<div class="row justify-content-md-center m-3 focus-in-expand">
    <div class="col-md-auto text-center">
      <hr>
      <span style="font-size: .8rem;">Author: Mateusz Ignatowicz</span><br>
      <a href="http://mign.pl" style="font-size: .8rem; color: rgb(165, 165, 165);"><i class="fa fa-globe" aria-hidden="true"></i> WEBSITE</a>
      <a href="http://github.com/coconutcake" style="font-size: .8rem; color: rgb(165, 165, 165);"><i class="fa fa-github" aria-hidden="true"></i> GITHUB</p> 
    </div>
</div>
{% endblock footer %}


